RewriteEngine On

RewriteRule ^accueil$ accueil.php
RewriteRule ^.{0}$ index.php
RewriteRule ^facture$ view/facture/liste.php
RewriteRule ^reglement$ view/reglement/liste.php

RewriteRule ^factureController$ controller/factureController.php
RewriteRule ^reglementController$ controller/reglementController.php